/*******************************/
/* CODE VOOR HET EERSTE BLOKJE */
/*******************************/

/* JOUW @FONT-FACE CODE HIER */
@font-face {
  /* regular / 400 */
  font-family: "Expletus";
  src: url(../fonts/ExpletusSans-Regular.ttf);
  font-weight: 400;

}

@font-face {
  /* bold / 700 */
  font-family: "Expletus Bold";
  src: url(../fonts/ExpletusSans-Bold.ttf);
  font-weight: 700;
}


li:first-of-type {
  padding:1em;
  overflow:auto;
}

li:first-of-type h2 {
  /* JOUW CODE HIER */
  font-family: "Expletus Bold";
  font-size: 1.6em;

}

li:first-of-type p {
  /* JOUW CODE HIER */
  font-family: "Expletus";

}

/* hiermee selecteer je de eerste letter van de p in het eerste blokje */
li:first-of-type p::first-letter {
  /* JOUW CODE HIER */
font-family: "Expletus Bold";
font-size: 2em;
  
}





/*******************************/
/* CODE VOOR HET TWEEDE BLOKJE */
/*******************************/

/* JOUW @FONT-FACE CODE HIER */
@font-face {
  font-family: "Mont";
  src:url(../fonts/Montserrat-Thin.ttf);
  font-weight: 100;
}


/* hiermee selecteer je het tweede blokje */
li:nth-of-type(2) {
  /* custom properties voor tweede blokje */
  --color:hsl(0 0% 100%);
  --background:rgb(0 24 54);
  --shadow:Cyan;
  
  /* met onderstaande regels staat de tekst in het midden */
  /* en elk woord op een nieuwe regel */
  display:grid;
  grid-auto-columns:min-content;  
  place-content:center;
  text-align:center;
  
  background-color:var(--background);
}

li:nth-of-type(2) h2 {
  margin:0;
  color:var(--color);

  /* JOUW CODE HIER */
  font-family: "Mont";
  text-transform:uppercase;
  color:var(--color);
  text-shadow: 0em 0em 0.3em var(--shadow),
  0em 0em 0.3em var(--shadow),
  0em 0em 0.3em var(--shadow);
  font-size:2.2em;
}





/******************************/
/* CODE VOOR HET DERDE BLOKJE */
/******************************/

/* JOUW @FONT-FACE CODE HIER */
@font-face {
  font-family: "Saira";
  src:url(../fonts/Saira_Condensed-Bold.ttf)
}

li:nth-of-type(3) {
  /* custom properties voor derde blokje */
  --color:white;
  --background:rgb(230 127 138);
  --shadow:rgb(0 0 0 / .75);

  /* JOUW CODE HIER */
  font-family: "Saira";
  color:var(--color);
  background-color: var(--background);
  font-size: 2em;
  text-shadow: 0.125em 0.125em var(--shadow);
  letter-spacing: 0.1em;
  line-height: 1.4em;
  text-transform: uppercase;

  display:grid;
  grid-auto-columns:min-content;  
  place-content:center;
  text-align:center;

}

li:nth-of-type(3) h2 {
  /* JOUW CODE HIER */

  transform:skewY(-10deg)
  
}